.locationInput {
    display: grid;
    grid-template-columns: 1.3fr 2.5fr  2.5fr 1.8fr .2fr;
    grid-template-areas: " radioButtons propertyField inputField checkBox TrashIcon";
    align-items: center;
    gap: 0.2rem;
  }
  .rowFlex {
    /* flex-direction: column !important; */
    flex-wrap: nowrap !important;
  }
  .radioButtons {
    grid-area: radioButtons;
  }
  .checkBox {
    grid-area: checkBox;
  }
  .checkBoxTick{
    color: #00adee !important;
  }
  .inputField {
    grid-area: inputField;
  }
  
  .TrashIcon {
    grid-area: TrashIcon;
    color: tomato;
  }
  .styleRadio {
    color: #00adee !important;
  }
  .alignRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }