.locationInput {
    display: grid;
    grid-template-columns: 1.3fr 2.5fr  2.5fr 1.8fr .2fr;
    grid-template-areas: " radioButtons propertyField inputField checkBox TrashIcon";
    align-items: center;
    gap: 0.2rem;
  }
  .rowFlex {
    flex-wrap: nowrap !important;
  }
  .radioButtons {
    grid-area: radioButtons;
  }
  .propertyType{
    grid-area: propertyField;
  }
  .inputField {
    grid-area: inputField;
  }
  .checkBox {
    grid-area: checkBox;
  }
  .checkBoxTick{
    color: #00adee !important;
  }
  
  
  .TrashIcon {
    cursor: pointer;
    grid-area: TrashIcon;
    color: white;
    background-color: tomato;
    width: min-content;
    border-radius: 50%;
    padding: .5rem;
  }
  .styleRadio {
    color: #00adee !important;
  }
  .alignRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .plusIcon{
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
    color:var(--color-blue);
    width: min-content;
}

.addLocation {
  text-align: center;

}
.addLocationBtn .button {
  background:#00adee;
  text-transform: none;
  color: white;
  width: max-content;
  font-family: var(--font-family-paragraph);

}
.addLocationBtn .button:hover {
  background-color: var(--hover-color-blue);
}