.moversContainer {
  display: grid;
  grid-template-rows: minmax(90vh, min-content);
  grid-template-columns: 12fr 88fr;
}
.moversContent {
  display: grid;
  grid-template-rows: 10vh minmax(80vh, min-content);
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas:
    ". moverHeader ."
    ". moverList .";
}
.moverHeader {
  margin-top: 1rem;
  grid-area: moverHeader;
  display: grid;
  grid-template-columns: 70fr 15fr 15fr;
  column-gap: 0.2rem;
  /* background-color: aquamarine; */
}
.moverList {
  grid-area: moverList;
  /* background-color: red; */
}
.listContent {
  display: grid;
  /* background-color: red; */
  row-gap: 0.75rem;
}
.list{
  /* background-color: #e9ecef; */
  border: none;
  background: rgba(0, 0, 0, 0.03);
  border-radius: .3rem;
  transition: var(--transition-one);
}
.list:hover {
  background-color: #cac7c7 !important;
  /* text-decoration: none; */
}
.dropDownMenu {
  border:none;
  padding: 0.5rem 0.75rem;
  color: #00ADEE;
  border-radius: 0.3rem;

}
.dropDownIcon{
  padding: .5rem;
}

.flexEnd {
  display: flex; 
  justify-content: flex-start;
  align-items: flex-start;
}
.approveBtn .button {
  background-color: #00adee;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 100%;
  text-transform: none;
}
.approveBtn:hover .button:hover {
  background-color: #00adee;
}