.moversContainer {
  display: grid;
  grid-template-rows: minmax(90vh, min-content);
  grid-template-columns: 15fr 85fr;
}
.moversContent {
  display: grid;
  grid-template-rows: 10vh minmax(80vh, min-content);
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas:
    ". moverHeader ."
    ". moverList .";
}
.moverHeader {
  margin-top: 1rem;
  grid-area: moverHeader;
  display: grid;
  grid-template-columns: 90fr 10fr;
  /* background-color: aquamarine; */
}
.moverList {
  grid-area: moverList;
}
.listContent {
  display: grid;
  row-gap: 0.75rem;
}
.dropDownMenu {
  border:none;
  padding: 0.5rem 0.75rem;
  color: #00ADEE;
  border-radius: 0.25rem;

}

.flexEnd {
  display: flex; 
  justify-content: flex-start;
  align-items: flex-start;
}