.main {
  text-align: left;
  /* width: 70%; */
  margin-left: 2%;
  margin-right: 2%;
}

.topbtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.title {
  float: left;
}

.cardCustom{
  width: 18rem
}
.toprow {
  margin-top: 10px;
  margin-bottom: 30px;

}

.badges {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #00adee;
}

.head {
  margin-top: 30px;
  margin-left:20px;
}
.jumbotron {
  padding-top: 1rem;
}
.badges2 {
  padding: 15px 10px;
  margin-left: 5px;
  background-color: #00adee;
}

.btnrow {
  margin-top: 2%;
  margin-bottom: 5%;
}

.onlinebtn {
  transform: translateX(-22rem);
}

.cardwidth {
  /* width: 90%; */
}

.carddetail {
  width: 40%;
}

@media only screen and (max-width: 576px) {
  .main {
    text-align: left;
    width: 90%;
    margin-left: 10%;
    margin-right: 15%;
  }
  .onlinebtn {
    transform: translateX(-10rem);
  }

  .btnrow {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 450px) {
  .onlinebtn {
    transform: translateX(-8rem);
  }

  .btnrow {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 400px) {
  .main {
    text-align: left;
    width: 90%;
    margin-left: 10%;
    margin-right: 15%;
  }
  .onlinebtn {
    transform: translateX(-6rem);
  }

  .btnrow {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
