.jobEditContainer {
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-rows: minmax(90vh, min-content);
  grid-template-areas: ". containerContent .";
  background-color: #e9ecef;
  /* background-color: #121212; */
}
.containerContent {
  grid-area: containerContent;
  margin-top: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 25fr 75fr;
  font-family: var(--font-family-paragraph);
  column-gap: 2rem;
  grid-template-areas: "cards jobDetail";
}
.cards {
  grid-area: cards;
  display: grid;
  grid-template-rows: 25vh minmax(15vh, min-content) 6.6vh min-content;
  grid-template-areas:
    "customerCard"
    "assigneeCard"
    "activityBtn"
    ".";
  row-gap: 1rem;
  
}

.customerCard {
  grid-area: customerCard;
  border-radius: 1rem;
  border: none;
}
.assigneeCard {
  grid-area: assigneeCard;
  border-radius: 1rem;
  border: none;
}

/*-------------------------BUTTONS------------------------*/

.center {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}
.activityBtn .button {
  background: var(--color-blue);
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
}

.activityBtn .button:hover {
  background: var(--hover-color-blue);
}
.jobEditBtns{
  display: flex;
  justify-content: space-around;
}
.jobEditBtns .link {
  text-decoration: none;
  color: #fff;
}

.jobEditBtns .buttons {
  background: var(--color-blue);
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
}
.jobEditBtns .buttons:hover {
  background-color: var(--hover-color-blue);
}


/*------------JOB DETAILS------------*/
.jobDetail {
  grid-area: jobDetail;
  background-color: #e9ecef;
  display: grid;
  grid-template-rows:
    minmax(10vh, min-content) minmax(6vh, min-content) minmax(5vh, min-content) repeat(
      3,
      minmax(11vh, min-content)
    )
    min-content;
  border: none;
  /* margin-bottom: 1rem ; */
  /* padding: 0.5rem 1rem; */
}
.jobHeader {
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  font-family: var(--font-family-paragraph);
  padding: 1rem 1rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.jobHeader > h5{
  font-weight: 400;
  text-transform: capitalize;
}
.jobHeader___childs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.jobDates { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vh, min-content));
  grid-template-rows: minmax(6vh, min-content);

}
.job___IdStatus{
display:flex;
justify-content: flex-end;
gap: 1rem;
}
.service, .numbers, .truckSection {
padding: .5rem; 
  display: grid;
  grid-template-columns: 25fr 75fr;
}
.service > *, .numbers >*, .truckSection>*, .propertySection >*{
  font-weight: 500;
}
.propertySection{
padding: .5rem;
  display: grid;
grid-template-columns: 17fr 23fr 60fr;
}

.jobDescription, .notes{
  margin-bottom: 1rem; /*this margin is just for demo*/
}
.jobDescription___title, .notes___title {
  font-size: larger;
  padding: .5rem;
}
.jobDescription___text, .notes___text{
  background: #fff;
  border-radius: 1rem;
  padding: 0.8rem 0.5rem;
}
.link {
  text-decoration: none;
  text-transform: capitalize;
}

.locations {
background: transparent;
  display: flex;
  flex-direction: column;
border: none;
  padding: .5rem;
}

.location {
  display: grid;
  grid-template-columns: 1fr;
  font-size: .8rem;
}
.location___type{
  font-weight: 500;
}
.dropoff{
  padding: .5rem;
}
.pickup{
  padding: .5rem;
}
/* .truckSection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "type number .";
  padding: .5rem;
}
.truckSectionType{
  grid-area : type;
}
.truckSectionNum{
  grid-area: number;
} */