.movers {
    flex-wrap: wrap;
    align-items: center;
  }
  .moversChild{
   flex-grow: 1;
  }
  .moversChild > div {
    display: flex;  flex-grow: 1;
    gap: .5rem;
  }
  .centeredIcon {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0 !important;
    align-items: center;
    color: tomato;
    /* background-color: tomato; */
  }
  .alignRight {
    display: flex;
    justify-content: center ;
    align-items: center;
  }
  
  .plusIcon{
    /* max-width: 25px; */
    /* color: white; */
    /* background-color: var(--color-blue); */
    /* border-radius: 50%; */
    border: none;
    margin-bottom: .5rem;
    /* display: flex;*/
    justify-content: flex-end; 
    /* padding: .5rem; */
  }