/* .form_style{
    margin-left: 45%;
} */

.jumbotron{
  margin: auto;
}

.heading{
    margin-top: 5%;
}

.input_fields{
    padding-top: 1%;
    margin-top: 1%;
    width: 50%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 20%;
    margin-top:3% ;
  }

  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 25px;
    margin-left: 5px;
  }

  .btn:hover {
    background-color: RoyalBlue;
  }
  .button:hover {
    background-color: RoyalBlue;
  }

  .btnStyle{
      margin-left: 2%;
  }

.head{
  margin-top: 2%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 600px) {
  .input_fields{
    width: 80%;
}
}