
.jumbotron{
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "Username"
                        "password";

  margin: auto;
  /* background-color:#e9f2eb; */
  width: 50vw;
}

.heading{
    margin-top: 5%;
    /* margin-left: 15%; */
  
}

.input_fields{
    padding-top: 1%;
    width: 50%;
    margin-top: 1%;
    border-radius: 5px;
    outline: none;
    border : 1px solid #a8a8a8
}

.btnStyle{
  /* margin-left: 17%; */
}
.button {
    background-color: #00ADEE;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 5px;
    width: 50%;
    margin-top:3% ;
    /* margin-left: 8%; */
  }

  .button:hover {
    background-color: #00ADEE !important;
    text-decoration: none;
    }


    .msg{
      width: 50%;
      margin-left: 25%;
      margin-top: 2%;
    }
  .bttn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    /* border-radius: 25px; */
    /* margin-left: 20px; */
    /* padding-bottom: 2%; */
  }

  .btn:hover {
    background-color: RoyalBlue;
  }
  .button:hover {
    background-color: RoyalBlue;
  }


.circle{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 4px;
  background-color:white;
  color: dodgerblue;
  border: 1px solid;

}

.labell{
  color: #a8a8a8;
  transform: translate3d(0rem, 0.8rem, 0);
}

.userInput{
  grid-area: Username;
  /* background-color: red; */
}


.head{
  margin-top: 10%;
    margin-bottom: 2%;
    font-size:2rem;
    /* margin-left: 18%; */
    padding-top: 2%;
}

.fa-facebook{
  background-color: #fff !important;
  color: dodgerblue !important;
}


@media only screen and (max-width: 600px) {
  .input_fields{
    padding-top: 1%;
    width: 90%;
    margin-top: 1%;
    border-radius: 5px;
    outline: none;
    border : 1px solid #a8a8a8
}


.button{
width: 90%;
font-size: 15px;
margin-top: 20px;
}

.labell{
  color: #a8a8a8;
  transform: translate3d(0rem, 0.8rem, 0);
  margin-bottom: 1rem;
}

.circle{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 2px;
  background-color:white;
  color: dodgerblue;
  border: 1px solid;

}

.bttn {
  background-color: white;
  border: 1 px ;
  color:dodgerblue;
  padding: 8px 10px;
  font-size: 16px;
  /* border-radius: 25px; */
  margin-left: 20px;
  /* padding-bottom: 2%; */
}

}
