.head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.depositFormContainer {
  display: grid;
  grid-template-rows: minmax(90vh,min-content);
  grid-template-columns: 1fr;
  grid-template-areas: "depositForm";
}
.depositForm {
  display: grid;
grid-area: depositForm;
  grid-template-rows: minmax(50vh,min-content) 40vh;
  grid-template-columns: 20fr 60fr 20fr;
  background-color: #e9ecef;
  grid-template-areas:
    ". form ."
    ". . .";
  
}
.styleFormFields {
  margin: 0.5rem 0 !important;
}
.depositBtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.2rem;
}
.depositBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
}
.depositBtn .button:hover {
  background-color: #00adee;
}
.form {
  grid-area: form;
  background-color: #fff;
  width: 100%;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 2rem;
}
/* @media only screen and (max-width:1500px) {
  .depositForm {
    display: grid;
  
    grid-template-rows: minmax(60vh,min-content) 30vh;
    grid-template-columns: 20fr 60fr 20fr;
    background-color: #e9ecef;
    grid-template-areas:
      ". form ."
      ". . .";
  }
} */
