.formStyle {
  display: grid;
  grid-template-columns: 20fr 60fr 20fr;
  background-color: #e9ecef;
  grid-template-areas: ". form .";
}
.form {
  grid-area: form;
  background-color: #fff;
  width: 100%;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 2rem;
}
.head {
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.styleFormFields {
  margin: 0.5rem 0 !important;
}
.styleAddBtn {
  display: grid;
  grid-template-columns: 87fr 13fr;
  grid-template-areas: ". addBtn";
}
.styleAddBtn .addBtn {
  grid-area: addBtn;
}
.modalAddBtn {
    display: grid;
    grid-template-columns: 84.5fr 15.5fr;
    grid-template-areas: ". modalBtn";
}
.modalBtn {
    grid-area: modalBtn;
}
.addBtn .button,.modalBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  margin-bottom: 0.5rem;
  width: 100%;
}
.addBtn .button:hover ,.modalBtn .button:hover{
    background-color: var(--hover-color-blue);
}
.resetButtons {
    display: grid;
    grid-template-columns:  49.5fr 0.5fr 0.5fr 49.5fr;
    grid-template-areas: "formResetButton . . formSubmitButton";
}
.formResetButton {
    grid-area: formResetButton;
}
.formSubmitButton {
    grid-area: formSubmitButton;
}
.formResetButton .formButton, .formSubmitButton .formButton {
    
    background: #00adee !important;
    text-transform: none;
    color: #fff;
    /* margin: 0 0.2rem; */
    font-family: var(--font-family-paragraph);
    width: 100%;
}
.resetButtons .formButton:hover {
  background-color: var(--hover-color-blue);
}
@media only screen and (max-width:1500px) {
.styleAddBtn {
  display: grid;
  grid-template-columns: 84fr 16fr;
  grid-template-areas: ". addBtn";
}
.modalAddBtn {
  display: grid;
  grid-template-columns: 82fr 18fr;
  grid-template-areas: ". modalBtn";
}
}
@media only screen and (max-width:1200px) {
  .styleAddBtn {
    display: grid;
    grid-template-columns: 82.5fr 17.5fr;
    grid-template-areas: ". addBtn";
  }
  .modalAddBtn {
    display: grid;
    grid-template-columns: 82fr 18fr;
    grid-template-areas: ". modalBtn";
  }
  }
  @media only screen and (max-width:1070px) {
    .styleAddBtn {
      display: grid;
      grid-template-columns: 80.5fr 19.5fr;
      grid-template-areas: ". addBtn";
    }
    .modalAddBtn {
      display: grid;
      grid-template-columns: 80fr 20fr;
      grid-template-areas: ". modalBtn";
    }
    }