.formStyle {
  display: grid;
  grid-template-columns: 20fr 60fr 20fr;
  grid-template-areas: ". form .";
  background-color: #e9ecef;
}
.form {
  grid-area: form;
  background-color: #fff;
  width: 100%;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 2rem;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centeredIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
}
.alignRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.styleDate {
  display: grid;
  grid-template-columns: 97fr 3fr;
}
.styleEditor {
  border-radius: 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}
/* .movers {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  column-gap: 0.5rem !important; */
/* } */
/* .addLocation {
  display: grid;
  grid-template-columns: 87fr 13fr;
  grid-template-areas: ". addLocationBtn";
justify-content: flex-end;

} */
.addLocationBtn {
  /* grid-area: addLocationBtn; */
  /* background-color: #00adee; */
}
.addLocationBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  width: 100%;
  font-family: var(--font-family-paragraph);

}
.addLocationBtn .button:hover {
  background-color: var(--hover-color-blue);
}
.styleFormFields {
  margin: 0.5rem 0 !important;
}
.styleTextArea {
  width: 100% !important;
  border: 1px solid black;
  border-radius: 0.4rem;
}
.locationInput {
  display: grid;
  grid-template-columns: 33fr repeat(2, 32fr) 3fr;
  grid-template-areas: "radioButtons inputField checkBox TrashIcon";
  /* gap: 2rem; */
}
.radioButtons {
  grid-area: radioButtons;
}
.inputField {
  grid-area: inputField;
  /* padding: 0 1.5rem !important; */
  /* margin-top: 0.7rem !important; */
}
.checkBox {
  grid-area: checkBox;
  padding: 0 1.5rem;
}
.TrashIcon {
  grid-area: TrashIcon;
}
.styleRadio {
  color: #00adee 
}
.propertyTypeRow {
  /* background-color: rgb(229, 255, 0); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}
.dateTimeInout{
  flex-wrap: wrap;
  align-items: center;
}
.mainDate{
  flex-grow: 1;
}
.mainDate > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.movers {
  flex-wrap: wrap;
  align-items: center;
}
.moversChild{
 flex-grow: 1;
}
.moversChild > div {
  display: flex;  flex-grow: 1;
  
  /* align-items: center; */
  gap: .5rem;
}
.rowFlex {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}
.notesStyle {
  display: grid;
  grid-template-columns: 97fr 3fr;
  row-gap: 2rem;
}
.notesBtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.6rem;
  column-gap: 0.5rem;
}
.notesBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);

  width: 100%;
}
.notesBtn .button:hover {
  background-color: var(--hover-color-blue);
}
.modalBtns{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.modal .modalButtons {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);

  margin: 0 0.15rem;
  /* width: 100%; */
}
 .modal .modalButtons:hover {
  background-color: var(--hover-color-blue);
}
.modal {max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* @media only screen and (max-width:1500px) {
  .addLocation {
    display: grid;
    grid-template-columns: 84fr 16fr;
    grid-template-areas: ". addLocationBtn";
  justify-content: flex-end;
  
  }
}
@media only screen and (max-width:1200px) {
  .addLocation {
    display: grid;
    grid-template-columns: 82.5fr 17.5fr;
    grid-template-areas: ". addLocationBtn";
  justify-content: flex-end;
  
  }
}
@media only screen and (max-width:1090px) {
  .addLocation {
    display: grid;
    grid-template-columns: 80.8fr 19.2fr;
    grid-template-areas: ". addLocationBtn";
  justify-content: flex-end;
  
  }
} */