.formStyle {
    display: grid;
    /* grid-template-rows: minmax(100vh,min-content); */
    grid-template-columns: 20fr 60fr 20fr;
    
    grid-template-areas: ". form .";
}
.form {
    grid-area: form;
   background-color: #e9ecef;
   width: 100%;
   border-radius: 0.4rem;
   margin: 2rem;
   padding: 2rem;
}
.head{
    margin-bottom: 2%;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    /* width: 100%;
    /* margin:  1rem ; */
    /* background-color:  #00ADEE; */
    transform: translateY(2rem); 
}