.toprow{
    margin-top: 2%;
}

.head{
    margin-right: 20%;
    margin-top: 2%;
}

.btn{
    margin-top: 2%;
}

.jumbotron{
    width: 60% !important;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #e9f2eb;
    margin-top: 2%;
    text-align: left;
}

.sub{
    margin-left: 1%;
}

.comp{
   margin-left: 1%;
}

.para{
    margin-left: 1%;
}

.job{
    margin-top: 1%;
    margin-left: 5%;
}

.p2{
    margin-left: 30%;
}