.toprow{
    margin-top: 1%;
}

.jumbotron{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: #e9f2eb; */
    /* margin-top: 2%; */
}

.btndel{
    margin-right: 10%;
    margin-top: 3%;
 } 

.edit{
    margin-right: 5%;
}

.checkbox{
    margin-left: 10px;
}

.create{
    margin-right: 3%;
    margin-top: 3%;
}

.head{
    margin-top: 2%;
    text-align: left;
    margin-left: 10%;
}

.btn2{
    /* margin-left: 5%; */
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    
}

.list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: rgba(0,0,0,.03);
    
}
.list:hover {
    background-color: #00ADEE;
    color: #fff;
}

.color{
    background-color: #00ADEE !important;
}

.li{
    margin:0  3%  
    /* border: 1px solid lightgrey; */
    /* box-shadow: 0px 2px lightgrey; */
}

.assignee{
    margin-left: 5px;
}


@media only screen and (max-width:576px){
    html{
        font-size: 75%;
    }

    .toprow{
        margin-top: 5%;
    }
}