.customerDetailsContainer {
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas: ". customerDetails . ";
  
}
.customerDetails {
  grid-area: customerDetails;
}

.styleTabs {
  background-color: #00adee;
}
.customerInfoHeader {
  display: grid;
  /* grid-template-rows: 10vh; */
  grid-template-columns: 84fr repeat(2, 8fr);
  column-gap: 0.3rem;
}
.customerInfoHeader .link {
  text-decoration: none;
}
.customerInfoHeader .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);

}
.customerInfoHeader .button:hover {
  background-color: #00adee;
}
.customerInfoHeadings {
  display: grid;
  /* grid-template-rows: 10vh; */
  grid-template-columns: repeat(3, 1fr);
}
.customerInfoDescription {
  display: grid;
  grid-template-rows: 10vh;
  grid-template-columns: repeat(3, 1fr);
}
.cardBodyHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cardBodyContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.job {
  /* margin-top: 2rem; */
  /* background-color: red; */
}
.jobCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "jobDetails";
  border-bottom: 1px solid #dddbdb;
  border-top: 1px solid #dddbdb;
}
.jumbotron {
  /* background-color: #e9f2eb; */
  background-color: #f1f7f3;
}
.cardBody___sectionOne, .cardBodyContainerTwo, .truckSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .5rem;
    font-weight: 500;
}
.cardBodyContainerThree{
  padding: .5rem;
}
.jobDetails {
  grid-area: jobDetails;
  display: grid;
  grid-template-columns: 70fr repeat(2, 15fr);
  grid-template-areas: "jobLink . jobService";
  align-items: center; 
}
.jobLink {
  grid-area: jobLink;
  padding: 0 1rem;
}
.jobLink .link {
text-transform: capitalize;
  text-decoration: none;
}
.jobAssignee {
  grid-area: jobAssignee;
  /* display: flex; */
  
  text-transform: capitalize;
  font-weight: 400;
  /* margin-left: 1rem; */
}
.spacing {
  padding: 0.5rem;
}
.cardBodyContainer{
  display: flex;
  flex-direction: column;
}

.cardBodyContainerTwo{
  /* display: flex;
  flex-direction: row;
  gap: 2.5rem; */

}
.jobService {
  grid-area: jobService;
  text-transform: capitalize ;
  display: flex;
  gap: .5rem;
}
.jobDates{
  margin-left: 1rem;
}
.jobDates,
.services {
  display: flex !important;
  gap: 1rem;
  align-items: center;
}
.jobChips{
  display: flex;
  gap: .2rem;
}

.jobDetailContainer {
  /* margin: 1rem; */
  padding: .5rem;
}
.jobDetail , .notes___text {
  white-space: initial;
  background: #fff;
  padding: .5rem;
  border-radius: .5rem;
}
.locations {
  display: grid;
  /* grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr)); */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: 1fr;
  padding: .5rem;
  row-gap: 1rem;
}
.locations > * span{
  font-weight: bold;
}
.location {
  display: grid;
  grid-template-rows: 1fr;
}

.notes {
  margin: 1rem;
  display: grid;
  grid-template-rows: repeat(2, min-content);
}
.styleEmptyJobs {
  margin-top: 1.5rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.claimTopRow {
  display: grid;
  grid-template-columns: 90fr 10fr;
}
.claimTopRow .link {
  text-decoration: none;
}
.newClaimBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);

}
.newClaimBtn .button:hover {
  background-color: #00adee;
}
.claimListHeaderContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "claimListHeader";
}
.claimListHeader {
  grid-area: claimListHeader;
  display: grid;
  margin: 1rem 0;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  padding: 0 0.5rem;
}
.cardHeader {
  /* height: 3.5rem; */
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #cac7c7;
  border-radius: .3rem;
  /* background-color: red; */
  transition: var(--transition-one);
  /* margin: .5rem 0; */
  /* padding: 1rem 0;   */
  
}
.cardHeader:hover{
  background-color: #cac7c7;
  text-decoration: none;
}
.heading{  
  text-transform: capitalize;
  font-size: 1rem;
}
.headingSub{
  font-weight: 900;
}
.claimBody{
  background-color: #e9ecef;
}
.claimDetail {
  grid-area: claimDetail;
  display: grid;
  grid-template-rows: repeat(3, minmax(2vh, min-content));
  grid-template-columns: 2fr 96fr 2fr;
  /* background-color: aqua; */
  grid-template-areas:
    ". protectionRow ."
    ". title ."
    ". updates .";
    row-gap: 1rem;
  /* align-items: center;"waiting"
    justify-self: center; */
}
.claimHead{
  grid-area: protectionRow;
  background-color: white;
  border: none;
  border-radius: .3rem;
  display: grid;
  padding: .5rem;
  
  /* padding-top: 1rem;gap: 1rem; */
  /* grid-template-columns: .1fr .8fr .2fr; */
}
.protectionRow {
  display: grid;
  
  grid-template-columns: 7fr 3fr;
  /* gap: 2rem; */
  /* margin: 0 auto; 
  justify-content: flex-start;*/
    /* grid-column: 2/span 1; */
  /* grid-area: protectionRow; */
  /*  */
  /* display: grid;
  grid-template-columns: 15fr 25fr 10fr 30fr repeat(2, 10fr); */
  /* column-gap: 0.2rem; */
}
.protectionRow___colOne{
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  /* gap: 4rem; */
  justify-content: space-around;
  align-items: center;
}
.protectionRow___colTwo{
grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.protectionRow___buttons{
  display: inline-flex;
  gap: 1rem;
  
}
.description {
  display: flex;
  gap: 1rem;
 justify-content: flex-end;
  /* grid-area: description; */
/*  background-color: rgb(238, 255, 0);*/
 /* flex-direction: column; margin: 0 auto; */
/* grid-column: 3/ span 1; */
  /* grid-template-columns: 15fr 85fr;*/
   /* justify-content: flex-end; */  
  /* column-gap: 0.2rem; padding-top: 2rem; */
  /* grid-column: 2/ span 1; */
}

.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* display: grid; */
  /* gap: rem; */
  /* grid-template-columns: .02fr .96fr .02fr; */
  
  /* grid-column: 2/span 1;background-color: red;
   */
  /* grid-template-columns: 15fr 85fr;*/
  /* margin: 0 auto; */
  /* padding: 1rem 2rem; *//* display: flex; */
}

/* .titleOne{
  grid-row: 1/ span 1;
  grid-column: 2/ span 1;
} */
.title___textOne{
  background-color: white;
  padding: .5rem;
  border: none;
  border-radius: .3rem;
}

/* .titleTwo{
  grid-row: 2/ span 1;
  grid-column: 2/ span 1;
} */
.title___textTwo{
  /* grid-row: 2/ span 1;
  grid-column: 2/ span 1; */
  background-color: white;
  padding: .5rem;
  border: none;
  border-radius: .3rem;
}
/* .waiting {
  grid-area: waiting;
  grid-template-columns: 15fr 85fr;
  display: grid;
  column-gap: 0.2rem;
} */

.protectionRow .button,
.waiting .button,
.description .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 100%;
}
.protectionRow .button:hover,
.waiting .button:hover,
.description .button:hover {
  background-color: var(--hover-color-blue);
}


/*-------------------------Update Section---------------------------*/
/* .updates {
  grid-area: updates;
  display: grid;
  grid-template-rows: 7vh min-content;
  grid-template-areas:
    "updateHead"
    "updateContent";
}
.updateHead {
  grid-area: updateHead;
}
.updateContent {
  grid-area: updateContent;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas: ". updateArea .";
}
.updateContentRow {
  
  grid-template-columns: 80fr 20fr;
  grid-template-rows: repeat(auto-fit, minmax(6vh, min-content)); 
  border-bottom: 1px solid #522828; 
 display: grid;
  grid-area: updateArea;
  
  align-items: center;
  background-color: #dddbdb;

} */
.updates {
  grid-area: updates;
  display: grid;
  grid-template-rows: 5vh min-content;
  grid-template-areas:
    "updateHead"
    "updateContent";
  word-break: break-all;
  /* grid-template-columns: .02fr .96fr .02fr; */
}
.updateHead {
  grid-area: updateHead;
  /* border-bottom: 1px solid #dddbdb; */
  /* grid-column: 1/-1; */
  
}
.updateContent {
  grid-area: updateContent;
  /* grid-column: 2/span 1; */
   display: grid;
  grid-gap: 1rem;
  
}
.updateContentRow {
  background-color: white;
  padding: .2rem .5rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(6vh, min-content));
  /* border-bottom: 1px solid #dddbdb; */
  align-items: center;
  /* background-color: #dddbdb; */
  border: none;
  border-radius: .3rem;
  /* word-spacing: .2rem;background-color: rgb(217, 255, 0); */
  /* row-gap: 1rem; */
  /* grid-template-columns: 80fr 20fr; */
  /*  */
  /* margin-bottom: 5rem; */
  /* grid-gap: 1rem; */
}

.timeStamp{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: .5rem;
}
.toprow {
  display: grid;
  grid-template-columns: 90fr 10fr;
}

.btn .link {
  text-decoration: none;
}
.btn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
   font-family: var(--font-family-paragraph);
}
.btn .button:hover {
  background-color: #00adee;
}
.flexEnd .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
   font-family: var(--font-family-paragraph);
  margin: 0 0.2rem;
}
.flexEnd .button:hover {
  background-color: #00adee;
}

.modal {
  max-width: 70vw;
}
.modal ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.modal ::-webkit-scrollbar-thumb {
  background: #00adee;
  border-radius: 10px;
}

/* Handle on hover */
.modal ::-webkit-scrollbar-thumb:hover {
  background: #00adee;
}
.styleTextArea {
  width: 100% !important;
  border: 1px solid black;
  border-radius: 0.4rem;
}
@media only screen and (max-width:1300px) {
  .customerInfoHeader {
    display: grid;
    /* grid-template-rows: 10vh; */
    grid-template-columns: 82fr repeat(2, 9fr);
    width: 100%;
  }
}
@media only screen and (max-width:1160px) {
  .customerInfoHeader {
    display: grid;
    /* grid-template-rows: 10vh; */
    grid-template-columns: 78fr repeat(2, 11fr);
    width: 100%;
  }
}