.submitDepositContainer {
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas: ". submitDeposit .";
}
.submitDeposit {
  grid-area: submitDeposit;
}
.toprow {
  display: grid;
  grid-template-columns: 25fr 50fr 25fr;
  /* background-color: aquamarine; */
  margin-top: 0.5rem;
}
.btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.btn .link {
  text-decoration: none;
}
.btn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
}
.btn .button:hover {
  background-color: var(--hover-color-blue);
}
/* .blanketContainer {
  padding-top: 1rem;
} */
.stylePagination {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "pagination";
}
.pagination {
  grid-area: pagination;
  display: grid;
  justify-content: flex-end;
  margin: 1rem 0;
}
