.createJob {
  display: grid;
  /* grid-template-rows: minmax(83vh,min-content) 7vh; */
  grid-template-columns: 20fr 60fr 20fr;
  grid-template-areas: ". form .";
  background-color: #e9ecef;
}
.form {
  grid-area: form;
  background-color: #fff;
  width: 100%;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 2rem;
}
.DateTimeInput{
  /* background-color: springgreen; */
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
}
.mainDate{
  flex-grow: 1;
  /* display: flex; */
  /* align-items: center; */
  


}
.mainDate > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.centeredIcon {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0 !important;
  align-items: center;
  color: tomato;
  /* background-color: tomato; */
}
.alignRight {
  display: flex;
  justify-content: center ;
  align-items: center;
}

.plusIcon{
  /* max-width: 25px; */
  /* color: white; */
  /* background-color: var(--color-blue); */
  /* border-radius: 50%; */
  
  border: none;
  margin-bottom: .5rem;
  /* display: flex;*/
  justify-content: flex-end; 
  /* padding: .5rem; */
}
/* .plusIcon:hover{
  background-color: var(--hover-color-blue);
} */
.modal {
  max-width: 50vw;
}

.modal ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.modal ::-webkit-scrollbar-thumb {
  background: #00adee;
  border-radius: 10px;
}

/* Handle on hover */
.modal ::-webkit-scrollbar-thumb:hover {
  background: #00adee;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsubmit button {
  width: 100%;
  /* margin: 0rem 3rem; */
  background-color: #00adee;
}
.styleDate {
  display: grid;
  grid-template-columns: 97fr 3fr;
}
.styleEditor {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
 .propertyTypeRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
}
.movers {
  border: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}
/* .addLocation {
  display: grid;
  grid-template-columns: 87fr 13fr;
  grid-template-areas: ". addLocationBtn";
justify-content: flex-end;
}
.addLocationBtn {
  grid-area: addLocationBtn;
  
} */
.addLocationBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 100%;
}
.addLocationBtn .button:hover {
  background-color: var(--hover-color-blue);
}
.styleFormFields {
  margin: 0.5rem 0 !important;
  /* width: 40% !important; */
}
.resetBtns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.6rem ;
  column-gap: 0.5rem;
}
.resetBtns .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 100%;
}


.flex {
  display: flex;
}
.resetBtns .button:hover {
  background-color: var(--hover-color-blue);
}
/* @media only screen and (max-width:1500px) {
  .addLocation {
    display: grid;
    grid-template-columns: 84fr 16fr;
    grid-template-areas: ". addLocationBtn";
  
  }
}
@media only screen and (max-width:1200px) {
  .addLocation {
    display: grid;
    grid-template-columns: 82.5fr 17.5fr;
    grid-template-areas: ". addLocationBtn";
    
  
  }
}
  @media only screen and (max-width:1090px) {
    .addLocation {
      display: grid;
      grid-template-columns: 80.8fr 19.2fr;
      grid-template-areas: ". addLocationBtn";
    
    }
} */