.createJob {
  display: grid;
  grid-template-columns: 20fr 60fr 20fr;
  grid-template-areas: ". form .";
  background-color: #e9ecef;
}
.form {
  grid-area: form;
  background-color: #fff;
  width: 100%;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 2rem;
}
.DateTimeInput{
  flex-wrap: wrap;
  align-items: center;
}
.mainDate{
  flex-grow: 1;
}
.mainDate > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.centeredIcon {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0 !important;
  align-items: center;
  color: tomato;
}
.alignRight {
  display: flex;
  justify-content: center ;
  align-items: center;
}
.plusIcon{
  border: none;
  margin-bottom: .5rem;
  justify-content: flex-end; 
}

.modal {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.modal ::-webkit-scrollbar-thumb {
  background: #00adee;
  border-radius: 10px;
}

/* Handle on hover */
.modal ::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color-blue);
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsubmit button {
  width: 100%;
  background-color: #00adee;
}
.styleDate {
  display: grid;
  grid-template-columns: 97fr 3fr;
}
.styleEditor {
}

.styleEditorValid {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.styleEditorInValid {
  border-radius: 4px;
  border: 1px solid red;
}

 .propertyTypeRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}
.movers {
  flex-wrap: wrap;
  align-items: center;
}
.moversChild{
 flex-grow: 1;
}
.moversChild > div {
  display: flex;  flex-grow: 1;
  gap: .5rem;
}
.addLocationBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 100%;
}
.addLocationBtn .button:hover {
  background-color: var(--hover-color-blue);
}
.styleFormFields {
  margin: 0.5rem 0 !important;
}
.resetBtns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.6rem ;
  column-gap: 0.5rem;
}
.resetBtns .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 100%;
}


.flex {
  display: flex;
}
.resetBtns .button:hover {
  background-color: var(--hover-color-blue);
}