.jumbotron{
    background-color: #fff;
    width: 75%;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: 1%;
    text-align: center;
}

.myrow{
    margin-top: 5%;
    width: 100%;
    margin-left: 19%;
    margin-right: 10%;
}

.btn{
    margin-top: 2%;
}

.head{
    margin-top: 2%;
    /* margin-right: 10%; */
    margin-left: 20%;
}

@media only screen and (max-width: 576px) {
    .myrow{
        margin-top: 5%;
        width: 90%;
        margin-left: 12%;
        margin-right: 10%;
    }

    .btn{
        margin-top: 10%;
        margin-right: 10%;
    }
    
    .head{
        margin-top: 6%;
        /* margin-right: 10%; */
        margin-left: 20%;
    }

}