.depositDetailsContainer{
    display: grid;
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-rows: minmax(90vh,min-content);
    grid-template-areas: ". claimDetails .";
    background-color: #e9ecef;
}
.depositDetails{
    margin-top: 1rem;
    grid-area: claimDetails;
    display: grid;
    /* grid-template-rows: 1fr; */
    /* grid-template-columns: 25fr minmax(75fr, min-content); */
    grid-template-columns: 25fr 75fr;
    column-gap: 2rem;
    grid-template-areas: "cards claimDetail";
    font-family: var(--font-family-paragraph);
}
.cards .link {
    text-decoration: none;
    text-transform: capitalize ;
  }
  
  .cards {
    grid-area: cards;
    display: grid;
    grid-template-rows: 25vh minmax(15vh, min-content) min-content;
    grid-template-areas:
      "customerCard"
      "jobCard"
      "buttons";
    row-gap: 1rem;
  }
  .customerCard {
    grid-area: customerCard;
    border-radius: 1rem; 
    border: none;
  }
  .jobCard {
    grid-area: jobCard;
    
    border-radius: 1rem;
    border: none; 
  }
  .claimButton{
    grid-area: buttons;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem .5rem;
    border: none;
  }
  .claimButton .button,
.protectionRow .button,
.waiting .button {
  background: #00adee;
  text-transform: uppercase;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: max-content;
  outline: none;
}
.claimButton .button:hover,
.protectionRow .button:hover,
.waiting .button:hover {
  background-color: var(--hover-color-blue);
}
.claimDetail {
  grid-area: claimDetail;
  /* background-color: rgb(20, 33, 71); */
  /* background-color: red; */
  border:none;
  display: grid;
  grid-template-rows: repeat(4, minmax(7vh, min-content));
  grid-template-columns: 100fr;
  grid-template-areas:
    /* "protectionRow"
    "description" */
    "pricing"
    "updates";
  row-gap: 1rem;
  background-color: transparent;
}

.pricing {
  grid-area: pricing;
}
.pricingInput > div > h6{
  font-size: larger;
  font-weight: 400;
  padding: 0 .5rem;
}
.pricingInput{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 1rem;
}
.editButon .button {
  background: #00adee;
  text-transform: uppercase;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: min-content;
  outline: none;
}
.editButon .button:hover {
  background-color: var(--hover-color-blue);
}
.editButon{
  grid-area: updates;
  text-align: center;
}