 .container{
    width: 50vw;
     /* margin: 20rem; */
    margin-top: 5%;
}

.btn-primary{
    margin-bottom: 2%;
}

.btn:hover {
    background-color: RoyalBlue;
  }

.btncustom{
    margin-bottom: 100%;
}

.jumbotron{
    margin: 20rem;
    margin-top: 2%;
    /* margin-bottom: 2%; */
    background-color: #e9f2eb;
    width: 55vw;
    padding: 10px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left:70vh; */
    margin-top: 3%; 
}

.drop{
    size: 100%;
}

.mb{
    margin-bottom: 2%;
}

.multi{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  } 
  @media only screen and (max-width:1200px) {
    .jumbotron {
        margin: 18rem;
        margin-top: 2%;
        margin-bottom: 2%;
     
    }
}
  @media only screen and (max-width:800px) {
      .jumbotron {
          margin: 15rem;
          margin-top: 2%;
          margin-bottom: 2%;
          /* width: 60vw; */
      }
  }
  @media only screen and (max-width:650px) {
    .jumbotron {
        margin: 12rem;
        margin-top: 2%;
        margin-bottom: 2%;
        /* width: 60vw; */
    }
}
  @media only screen and (max-width:500px) {
    .jumbotron {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 5%;
        margin-bottom: 2%;
        width: 80vw;
    }
    .container {
        width: 75vw;
    }
}
