.customerDetailsContainer {
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas: ". customerDetails . ";
}
.customerDetails {
  grid-area: customerDetails;
}

.styleTabs {
  background-color: #00adee;
}
.customerInfoHeader {
  display: grid;
  /* grid-template-rows: 10vh; */
  grid-template-columns: 84fr repeat(2, 8fr);
}
.customerInfoHeader .link {
  text-decoration: none;
}
.customerInfoHeader .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
}
.customerInfoHeader .button:hover {
  background-color: #00adee;
}
.customerInfoHeadings {
  display: grid;
  /* grid-template-rows: 10vh; */
  grid-template-columns: repeat(3, 1fr);
}
.customerInfoDescription {
  display: grid;
  grid-template-rows: 10vh;
  grid-template-columns: repeat(3, 1fr);
}
.cardBodyHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cardBodyContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.job {
  margin-top: 2rem;
}
.jumbotron {
  margin-top: 1rem;
  background-color: #e9f2eb;
  padding: 1rem 0;
}
.jobDetails {
  display: grid;
  grid-template-columns: 60fr repeat(2, 20fr);
  grid-template-areas: "jobLink jobAssignee jobService";
}
.jobLink {
  grid-area: jobLink;
  padding: 0 1rem;
}
.jobLink .link {
  text-decoration: none;
}
.jobAssignee {
  grid-area: jobAssignee;
  display: flex;
}

.spacing {
  padding: 0.5rem;
}

.jobService {
  grid-area: jobService;
}
.jobDates,
.services {
  display: flex !important;
  padding-left: 1rem;
}

.jobDetailContainer {
  padding-left: 1rem;
}
.jobDetail {
  white-space: pre-line;
}
.locations {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));
  grid-template-columns: repeat(3, 1fr);
  padding-left: 1rem;
  row-gap: 1.5rem;
}
.location {
  display: grid;
  grid-template-columns: 1fr;
}

.notes {
  margin: 1rem 0;
  padding-left: 1rem;
  display: grid;
  grid-template-rows: repeat(2, min-content);
}
.styleEmptyJobs {
  margin-top: 1.5rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.claimTopRow {
  display: grid;
  grid-template-columns: 90fr 10fr;
}
.claimTopRow .link {
  text-decoration: none;
}
.newClaimBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
}
.newClaimBtn .button:hover {
  background-color: #00adee;
}
.claimListHeaderContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "claimListHeader";
}
.claimListHeader {
  grid-area: claimListHeader;
  display: grid;
  margin: 1rem 0;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  padding: 0 0.5rem;
}
.cardHeader {
  height: 3.5rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.claimDetail {
  grid-area: claimDetail;
  display: grid;
  grid-template-rows: repeat(5, minmax(7vh, min-content));
  grid-template-columns: 100fr;
  /* background-color: aqua; */
  grid-template-areas:
    "protectionRow"
    "title"
    "description"
    "waiting"
    "updates";
  /* align-items: center;
    justify-self: center; */
}
.protectionRow {
  grid-area: protectionRow;
  display: grid;
  grid-template-columns: 15fr 25fr 10fr 30fr repeat(2, 10fr);
  column-gap: 0.2rem;
}
.protectionRow .button,
.waiting .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
}
.protectionRow .button:hover,
.waiting .button:hover {
  background-color: #00adee;
}
.title {
  grid-area: title;
  grid-template-columns: 15fr 85fr;
  display: grid;
  column-gap: 0.2rem;
}
.description {
  grid-area: description;
  grid-template-columns: 15fr 85fr;
  display: grid;
  column-gap: 0.2rem;
}
.waiting {
  grid-area: waiting;
  grid-template-columns: 15fr 85fr;
  display: grid;
  column-gap: 0.2rem;
}
.updates {
  grid-area: updates;
  display: grid;
  grid-template-rows: 7vh min-content;
  grid-template-areas:
    "updateHead"
    "updateContent";
}
.updateHead {
  grid-area: updateHead;
  border-bottom: 1px solid #dddbdb;
}
.updateContent {
  grid-area: updateContent;
}
.updateContentRow {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(6vh, min-content));
  border-bottom: 1px solid #dddbdb;
  align-items: center;
  grid-template-columns: 80fr 20fr;
}
.toprow {
  display: grid;
  grid-template-columns: 90fr 10fr;
}

.btn .link {
  text-decoration: none;
}
.btn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
}
.btn .button:hover {
  background-color: #00adee;
}
.flexEnd .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
  margin: 0 0.2rem;
}
.flexEnd .button:hover {
  background-color: #00adee;
}

.modal {
  max-width: 70vw;
}
.modal ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.modal ::-webkit-scrollbar-thumb {
  background: #00adee;
  border-radius: 10px;
}

/* Handle on hover */
.modal ::-webkit-scrollbar-thumb:hover {
  background: #00adee;
}
.styleTextArea {
  width: 100% !important;
  border: 1px solid black;
  border-radius: 0.4rem;
}
