.calenderContainer {
  display: grid;
  grid-template-rows: 10vh minmax(80vh, min-content);
  grid-template-columns: 1fr;
  grid-template-areas:
    "availibityBtns "
    "calenderContent";
}
.availibityBtns {
  grid-area: availibityBtns;
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas: ". buttons .";
}
.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(2, 12.5fr) 75fr;
  grid-template-areas: "button button .";
  margin-top: 1rem;
  column-gap: 0.5rem;
}
.buttons .link {
  text-decoration: none;
}
.buttons .button {
  grid-area: button;
  width: 100%;
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
}
.buttons .button:hover {
  background-color: var(--hover-color-blue);
}
.calenderContent {
  grid-area: calenderContent;
  display: grid;
  grid-template-columns: 100fr;

  
}
