

.head{
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.list{
    margin-top: 3%;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.para{
    text-align: left;
}

.name{
    margin-right: 70%;
}

.lightc{
    color: silver;
    font-size: 15px;
}

.btn{
    margin-top: 2%;
    margin-left: 50%;
}

.mar{
    margin-bottom: 1%;
}

.drop{
    background-color:#00ADEE !important;
}



@media only screen and (max-width: 576px) {
    
    .list{
        /* width: 130%; */
        /* margin-left: 17%;
        margin-right: 5%; */
        margin-bottom: 5%;
    }

    .btn{
        margin-top: 2%;
        margin-right: 80%;
    }
}

@media only screen and (max-width: 400px) {
    
    .list{
        margin-left: 10%;
        margin-bottom: 5%;
    }

    .btn{
        margin-top: 30%;
        margin-right: 80%;
    }

    .head{
        margin-left: 20%;
        margin-top: 10%;
        margin-bottom: 3%;
    }
}