.formStyle {
  display: grid;

  grid-template-columns: 20fr 60fr 20fr;
  grid-template-areas: ". form .";
  background-color: #e9ecef;
}
.form {
  grid-area: form;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  margin: 2rem 0;
  border-radius: 0.4rem;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centeredIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.styleDate {
  display: grid;
  grid-template-columns: 97fr 3fr;
}
.styleEditor {
  border-radius: 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.movers {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  column-gap: 0.5rem !important;
}
.addLocation {
  display: grid;
  grid-template-columns: 85.6fr 14.4fr;
  grid-template-areas: ". addLocationBtn";
}
.addLocationBtn {
  grid-area: addLocationBtn;
  /* background-color: #00adee; */
}
.addLocationBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
}
.addLocationBtn .button:hover {
  background-color: #00adee;
}
.styleFormFields {
  margin: 0.5rem 0 !important;
}
.styleTextArea {
  width: 100% !important;
}
.locationInput {
  display: grid;
  grid-template-columns: 33fr repeat(2, 32fr) 3fr;
  grid-template-areas: "radioButtons inputField checkBox TrashIcon";
  /* gap: 2rem; */
}
.radioButtons {
  grid-area: radioButtons;
}
.inputField {
  grid-area: inputField;
  margin-top: 0.7rem !important;
}
.checkBox {
  grid-area: checkBox;
 padding: 0 1.5rem;
}
.TrashIcon {
  grid-area: TrashIcon;
}
.styleRadio {
  color: #00adee !important;
}

.rowFlex {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}
.notesStyle {
  display: grid;
  grid-template-columns: 97fr 3fr;
  row-gap: 2rem;
}
.notesBtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.6rem 0;
    column-gap: 0.5rem;
  }
  .notesBtn .button {
    background: #00adee;
    text-transform: none;
    color: #fff;
    font-family: sans-serif;
    width: 100%;
  }
  .notesBtn .button:hover {
    background-color: #00adee;
  }
  .modal .modalButtons {
    background: #00adee;
    text-transform: none;
    color: #fff;
    font-family: sans-serif;
    margin: 0 0.15rem;
    /* width: 100%; */
  }
  .modal .modalButtons:hover {
    background-color: #00adee;
  }
  .modal {
    max-width: 70vw;
  }