.verificationCode {
  grid-template-rows: minmax(min-content, 90vh);
  display: grid;
  grid-template-areas: "customStyles";
  /* background-color: pink; */

  line-height: 1.5;
}

.customStyles {
  grid-area: customStyles;
}
.verificationCodeInput {
  margin: 1rem 0 !important;
}
.customStyles .ReactInputVerificationCode__item {
  color: #262626;
  font-weight: 500;
}

.customStyles .ReactInputVerificationCode__item,
.customStyles .ReactInputVerificationCode__item.is-active {
  box-shadow: none;
}

.customStyles .ReactInputVerificationCode__item:after {
  content: "";

  height: 2px;
  background-color: #ebebeb;
  transition: background-color 0.2s ease-out;
}

.customStyles .ReactInputVerificationCode__item.is-active:after {
  background-color: #046cde;
}
.submitCodeBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 25vw;
}
.submitCodeBtn .button:hover {
  background-color: var(--hover-color-blue);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
