.toprow {
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas: ". rowContent .";
}
.rowContent {
  grid-area: rowContent; 
  display: grid;
  margin-top: 0.5rem;
  grid-template-columns: 25fr 50fr repeat(2, 12.5fr);
}
.newClaimBtn .link {
  text-decoration: none;
}
.newClaimBtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.newClaimBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  
}
.newClaimBtn .button:hover {
  background: var(--hover-color-blue);
}
.filter {
  cursor: pointer;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stylePagination {
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas: ". pagination .";
}
.pagination {
  grid-area: pagination;
  display: grid;
  justify-content: flex-end;
  margin: 1rem 0;
}
