.tron{
    width: 80%;
    margin-left: 10%;
}

.tron2{
    width: 85%;
    margin-left: 6%;
    margin-right: 9%;
    text-align: left;
}

.btnCustom{
    margin-left: 2%;
}

.btnalign{
    width: 25%;
    margin-bottom: 5%;
}

.assigneehead{
    text-align: left;
    margin-left: 7%;
}

.badge{
    margin-left: 1%;
    margin-bottom: 5%;
}