.userContainer {
  display: grid;
  grid-template-columns: 20fr 60fr 20fr;
  grid-template-rows: minmax(75vh, min-content) 15vh;
  grid-template-areas: ". userForm ."
                        ". . .";
  background-color: #e9ecef;
}

.userForm {
  grid-area: userForm;
  background-color: #fff;
  width: 100%;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 2rem;
  
}

.head {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styleFormFields {
  margin: 0.5rem 0 !important;
}
.inputField {
  margin: 0.5rem 0 !important;
}
.styleAddress {
  margin-top: 0.5rem !important;
}
.createBtn .button {
  background-color: #00adee;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
  text-transform: none;
}
.createBtn .button:hover {
  background-color: #00adee;
}


.styleMultiSelect {
  margin: 1rem 0;
}