.input_field{
    width: 80%;
    padding-right: 5%;
    margin-top: 1%;
    width: 20rem;
    margin: 1rem 0 ;
    height: 2.4rem;
}

.head{
     /* margin-top: 3%; */
    /*margin-left: 10%; */
}

.myrow{
   
    margin-top: 2%;
    margin-left: 10%;
}
.depositForm {
    display: grid;
   
    grid-template-rows: 1fr;
    grid-template-columns: 20fr 60fr 20fr;
    background-color: #e9ecef;
    grid-template-areas: ". f .";

}
option {
    /* width: 40rem; */
}
.form {
    grid-area: f;
    margin: 2rem 0;

    background-color: #fff;
}
.input_fields {
    width: 20rem;
    height: 2.2rem;
    text-indent: 0.4rem;
}
.btn{
   /* float: left;
   margin-left: 11%;
   margin-top: 1%; */
}

.btn-primary{
    background-color: #00ADEE !important;
}

.drop{
    background-color: #00ADEE !important;
}

.in{
    margin-top: 0.2%;
}
/* input {
    
    
} */
@media only screen and (max-width: 576px) {
    .btn{
        float: left;
        margin-left: 13%;
        margin-top: 1%;
     }

     .head{
        margin-top: 3%;
        margin-left: 12%;
    }

}