.main{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.logo{
    padding: 5px;
}

.tophead{
    margin-top: 3%;
    margin-bottom: 2%;
}