.main{
    /* width: 50%; */
    display:grid;
    grid-template-columns: 28fr 44fr 28fr;
    grid-template-areas: ". form .";
    
}
.form {
    grid-area: form;
    background-color: #e9ecef;
    width: 100%;
    border-radius: 0.4rem;
    margin: 2rem;
    padding: 2rem;
}
.logo{
    padding: 5px;
    
}

.tophead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}