.claimsDetailContainer {
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-rows: minmax(90vh,min-content);
  grid-template-areas: ". claimDetails .";
  background-color: #e9ecef;
}
.claimDetails {
  margin-top: 1rem;
  grid-area: claimDetails;
  display: grid;
  /* grid-template-rows: 1fr; */
  /* grid-template-columns: 25fr minmax(75fr, min-content); */
  grid-template-columns: 25fr 75fr;
  column-gap: 2rem;
  grid-template-areas: "cards claimDetail";
}

.cards .link {
  text-decoration: none;
  text-transform: capitalize ;
}

.cards {
  grid-area: cards;
  display: grid;
  grid-template-rows: 25vh minmax(15vh, min-content) min-content;
  grid-template-areas:
    "customerCard"
    "jobCard"
    "buttons";
  row-gap: 1rem;
}
.customerCard {
  grid-area: customerCard;
  border-radius: 1rem; 
  border: none;
}
.jobCard {
  grid-area: jobCard;  
  border-radius: 1rem;
  border: none; 
  overflow: hidden;
}
.assigneehead{
  text-decoration: none;
  list-style: none;
}
.claimButton{
  grid-area: buttons;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding: 1rem .5rem;
  border: none;
}
.claimDetail {
  grid-area: claimDetail;
  background-color: rgb(20, 33, 71);
  border:none;
  display: grid;
  grid-template-rows: repeat(4, minmax(7vh, min-content));
  grid-template-columns: 100fr;
  grid-template-areas:
    "protectionRow"
    "description"
    "waiting"
    "updates";
  
  row-gap: 2rem;
  background-color: transparent;
  /* padding: 0 2rem; */
}
.protectionRow {
  grid-area: protectionRow;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 0;
  /* display: grid;
  grid-template-columns: repeat(2, 20fr) repeat(2, 12fr) repeat(2, 18fr);
  /* width: 100%; */
 /* column-gap: 0.2rem; */
 /* gap: 1rem; */
display: flex;

justify-content: space-around;
text-align: center;
}


.claimButton .button,
.protectionRow .button,
.waiting .button {
  background: #00adee;
  text-transform: uppercase;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 100%;
  outline: none;
}
.claimButton .button:hover,
.protectionRow .button:hover,
.waiting .button:hover {
  background-color: var(--hover-color-blue);
}

.description {
  /* background-color: white; */
  grid-area: description;
  display: grid;
  /* background-color: #00adee; */
  column-gap: 0.3rem;
}
.description > h6{
  font-size: larger;
  font-weight: 400;
  /* padding: 0 .5rem; */
}
.description > div{
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.8rem 0.5rem;
  word-spacing: .2rem;
}
.waiting {
  grid-area: waiting;
}
.waiting > h6{
  font-size: larger;
  font-weight: 400;
  /* padding: 0 .5rem; */
}
.waitingInput{
display: grid;
grid-template-columns: .8fr .2fr;
grid-gap: 1rem;
align-items: center;

}
.updates {
  grid-area: updates;
  display: grid;
  grid-template-rows: 7vh min-content;
  grid-template-areas:
    "updateHead"
    "updateContent";
    /* "time"; */
    word-break: break-all;
}
.updateHead{
  grid-area: updateHead;
  /* padding: 0 .5rem; */
}
.updateContent {
  grid-area: updateContent;
  padding-top: 1.5rem;
  row-gap: .5rem;
  display: grid;
}
.updateContentRow {
  border: none;
  border-radius: 1rem;
  display: grid;
  /* grid-template-rows: repeat(auto-fit, minmax(6vh, min-content)); */
  /* border-bottom: 1px solid #dddbdb; */
  padding: 0.8rem 0.5rem;
  word-spacing: .2rem;
  align-items: flex-end;
  /* grid-template-columns: 85fr 15fr; */
  /* margin: 1rem 0; */
  /* padding: 1rem; */
}
.update___time{
  /* background-color: red; */
  /* grid-area: time;*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  gap: .5rem; 
}

.modal {
  max-width: 70vw;
}
.flexEnd .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);

  margin: 0 0.2rem;
}
.flexEnd .button:hover {
  background-color: #00adee;
}
.styleTextArea {
  width: 100%;
  border: 1px solid black;
  border-radius: 0.4rem;
}
