.signInContainer {
  grid-template-rows: minmax(min-content, 100vh);
  display: grid;
  grid-template-columns: 50fr 50fr;
  grid-template-areas: "image form";
}
.image {
  grid-area: image;

  background-image: url("/images/loginimage.jpg");
  background-size: 100% 100%, cover;
}
.form {
  grid-area: form;

  display: grid;
  grid-template-rows: 30vh 40vh 30vh;
  grid-template-areas:
    "."
    "signIn"
    ".";
}
.signIn {
  grid-area: signIn;

  display: grid;
  grid-template-rows: repeat(3, 8vh) 6vh 10vh;
  grid-template-areas:
    "head"
    "email"
    "password"
    "forgetPs"
    "signinBtn";
}
.head {
  grid-area: head;
}
.textFields {
  width: 60%;
}
.email {
  grid-area: email;
  width: 100% !important;

  height: 8vh;
}
.password {
  grid-area: password;
  width: 100% !important;
  height: 8vh;
}
.forgetPs {
  grid-area: forgetPs;
  height: 6vh;
}
.signinBtn {
  grid-area: signinBtn;

  height: 10vh;
}
.signinBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);


  width: 60%;
}
.signinBtn .button:hover {
  background-color: var(--hover-color-blue);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
