.resetContainer {
  display: grid;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "passwordReset";
}

.passwordReset {
  grid-area: passwordReset;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
