.resetContainer {
  display: grid;
  grid-template-rows: minmax(min-content, 90vh);
  grid-template-areas: "passwordReset";
}

.passwordReset {
  grid-area: passwordReset;
}
.passwordField {
  margin: 0.5rem 0 !important;
  width: 30vw;
}
.resetPasswordBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 30vw;
}
.resetPasswordBtn .button:hover {
  background-color: var(--hover-color-blue);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
