.head{
    /* float: left; */
    /* margin-left: 10%; */
    /* margin-bottom: 2%; */
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-areas: ". form .";
}

.form{
    grid-area: form;
    background-color: #e9ecef;
    margin: 2rem 0;
    border-radius: 0.4rem;
    /* width: 30%;
    margin-left: 10%;
    margin-top: 5%; */
}

.msg{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  }

.btn{
   
    margin-top: 1%;
}

@media only screen and (max-width: 500px) {
    .form{
        width: 70%;
        margin-left: 10%;
        margin-top: 5%;
    }   

    .btn{
        margin-top: 2%;
    }
}