.btn-primary{
    margin-bottom: 2%;
}

.btn:hover {
    background-color: RoyalBlue;
  }
.button {
    width: 100%;
    margin:  1rem 1.5rem;
    background-color:  #00ADEE;
    transform: translateY(2rem);
}
.jumbotron{
    /* margin: auto; */
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    margin-left: 5%;
}
.formStyle {
    display: grid;
    /* grid-template-rows: minmax(100vh,min-content); */
    grid-template-columns: 20fr 60fr 20fr;
    
    grid-template-areas: ". form .";
}
.form {
    grid-area: form;
   background-color: #e9ecef;
   width: 100%;
   border-radius: 0.4rem;
   margin: 2rem;
   padding: 2rem;
}
.head{
    margin-bottom: 2%;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  }


@media only screen and (max-width:500px){
    html{
        font-size: 70%;
    }


    .head{
        margin-bottom: 5%;
        margin-left: 5%;
        margin-top: 2%;
    }


    .jumbotron{
        margin-top: 2%;
        margin-bottom: 2%;
        width: 80%;
        margin-left: 5%;
    }    

}