.container{
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.btn:hover {
    background-color: RoyalBlue;
  }

.jumbotron{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #eee;
}

.head{
    margin: auto;
}