.toprow{
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.cal{
    /* margin-left: 5%; */
    /* display: inline-block; */
}

.cardCustom{
    width: 18rem;
    margin: 0.5rem 0;
    float: right;
}
.cardHeader {
    /* display: grid;
    grid-template-columns: 1fr 1.4fr; */
    background-color: #fff;
    border: 2px solid #fff;
   
    padding: 0.6rem  ;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  
.card {
    border-left: 5px solid #00ADEE;
    border-radius: 0.4rem;
    
}

.cardCustom2{
    width: 18rem;
    float: right;
    margin-top: 1%;
}

.head{
    margin-left: 30%;
}

/* .Calendar {
    display: inline-block;
    font-size: 2rem;
  } */

