@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto+Condensed:wght@700&display=swap');

/* .nav{
    margin-left: 10%;
} */

.elevation {
    background-color:white !important;
    
    border: 1px solid lightgrey;
    box-shadow: 0px 1px lightgrey;
}

.nav-link {
    color: #00ADEE !important;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 22px;
    }


/* .active{
    color: black !important;
} */

/* .active {
    color: aqua !important;
    background-color: chartreuse !important;    
  }
  .nav-item > a:hover {
    color: aqua;
  } */

  .nav-link .active {
    color: aqua !important;
    background-color: chartreuse;    
  }


    /* .navbar-nav li a {
      color: red;
        :hover, :focus, :active 
        color: #18BC9C;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
     */
 
.nav-link a:active{
  color: red;
}

.logo{
    margin-left: 50px !important;
}

@media only screen and (max-width: 576px) {
  .logo{
    margin-left: 5px !important;
  }
}