@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto+Condensed:wght@700&display=swap");

.elevation {
  background-color: white !important;
  border: 1px solid lightgrey;
  box-shadow: 0px 1px lightgrey;
  /* width: 100%; */
  height: 10vh;
}

.logo {
  margin-left: 50px !important;
 
 
}
.logoIcon {
  /* width: 50%; */
  height:9vh;
  
}
.fixedNavBar {
  position: fixed;
  top: 0;
  width: 100%;
}
.logoutBtn .button {
  background: #00ADEE;
  border: transparent;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-family: sans-serif;
  text-transform: none;
}
.logoutBtn .button:hover {
  background-color: #00ADEE;
}