.unavailableContainer {
  display: grid;
  grid-template-rows: minmax(90vh, min-content);
  grid-template-columns: 15fr 85fr;
}
.unavailableContent {
  display: grid;
  grid-template-rows: 10vh minmax(80vh, min-content);
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas:
    ". unavailableHeader ."
    ". unavailableList .";
}
.unavailableHeader {
  margin-top: 1rem;
  grid-area: unavailableHeader;
  display: grid;
  grid-template-columns: 80fr repeat(2,10fr);
  column-gap: 0.2rem;
}
.dropDownIcon {
  width: 100%;
}
.approveBtn .button {
  background-color: #00adee;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
  text-transform: none;
}
.approveBtn .button:hover {
  background-color: #00adee;
}

.unavailableList {
  grid-area: unavailableList;
}

.checkBox {
 margin-right: 0.5rem;
}
.item {
  margin-bottom: 5px;
}
.dropDownIcon {
  padding-right: 0.4rem;
}
.flex {
  margin: 0 1rem;
}