.unavailableContainer {
  display: grid;
  grid-template-rows: minmax(90vh, min-content);
  grid-template-columns: 12fr 88fr;
}
.unavailableContent {
  display: grid;
  grid-template-rows: 10vh minmax(80vh, min-content);
  grid-template-columns: 5fr 90fr 5fr;
  grid-template-areas:
    ". unavailableHeader ."
    ". unavailableList .";
}
.unavailableHeader {
  margin-top: 1rem;
  grid-area: unavailableHeader;
  display: grid;
  grid-template-columns: 70fr 15fr 15fr;
  column-gap: 0.2rem;
  
}
.dropDownIcon {
  width: 100%;
}
.approveBtn .button {
  background-color: #00adee;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 100%;
  text-transform: none;
}
.approveBtn .button:hover {
  background-color: var(--hover-color-blue);
}

.unavailableList {
  grid-area: unavailableList;
  
}

.checkBox {
 margin-right: 0.5rem;
}
.item {
  margin-bottom: 5px;
}
.dropDownIcon {
  padding: 0.5rem;
}