.sidebar {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#181F47;
    position: fixed;
    height: 100%;
    text-align: left;
    /* overflow: auto; */
  }
  
  .sidebar a {
    display: block;
    color: #FFFFFF;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a:hover {
    color:  white;
    background-color: royalblue;
  }
