.sidebar {
    height: 85vh;
    margin: 0;
    padding: 0;
    width: 15vw;
    background-color:#181F47;
    position: fixed;
    
    text-align: left;
    /* overflow: auto; */
  }
  
  .sidebar a {
    display: block;
    color: #FFFFFF;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a:active{
    background-color:#00ADEE;
  }
   
  .sidebar a:hover {
    color:  white;
    background-color: #00ADEE;
  }

  .font{
    font-size: 16px;
    display: flex;
    justify-content: start;
  }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) { 
  .sidebar {
    /* width: 18vw; */
  }
}
  @media only screen and (max-width: 576px) {
    .sidebar {
      height: 100%;
      width: 80px;
      background-color:#181F47;
      position: fixed;
      height: 100%;
      text-align: left;
      /* overflow: auto; */
    }

    .sidebar a {
      display: block;
      color: #FFFFFF;
      padding: 16px;
      text-decoration: none;
    }

  }