.sidebar {
  position: fixed;
  background-color: #e9ecef;
  height: 100%;
  width: 12%;
}

.sidebar > .sidebarContent > a {
  grid-template-rows: repeat(auto-fit, minmax(10vh, 1fr));
  color: black;
  display: grid;
  grid-template-columns: 20fr 80fr;
 
}
.sidebarContent > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .active {
  background-color: #00adee;
  color: white !important;
}

.sidebar .sidebarContent > a:hover {
  transition: .2s ease-in-out;
  color: white;
  background-color: var(--color-blue);
  text-decoration: none;
}
