.toprow{
    margin-top: 1% !important;
    margin-bottom: 1% !important;
    margin-left: 50px !important;
}

.head{
    /* margin-left: 8%;
    margin-top: 2%; */
}
.filter{
    margin-top: 10px !important;
    cursor: pointer;
}
.jumbotron{
    margin: auto !important;
    padding: 2%;
}
.flex{
    display: flex;
    justify-content: start;
    align-items: center; 
    padding: 0 0.5rem;
}
.list {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border: 1px solid rgba(0, 0, 0, 0.125);
      background: rgba(0,0,0,.03);
      font-size: 0.88rem !important;
}
.list h6 {
    font-size: 0.88rem !important;
}


.list:hover {
    background-color:  #00ADEE;
    /* color: white !important; */
}

.li{
    margin:0  3%  !important;
    /* border: 1px solid lightgrey;
    box-shadow: 0px 2px lightgrey; */
}

.listContent:hover .item {
    color: #fff;
}
.btn{
    /* margin-top: 2%; */
    /* margin-left: 20%; */
}
.jobId:hover {
    background: "none";
}

.jumbotron{
    /* width: 75% !important; */
    margin-left: 20%;
    /* overflow-x: hidden; */
    margin-right: 5%;
  
    /* background-color: #e9f2eb; */
    margin-top: 2%;
    text-align: left;
    padding: 10px;
}
.card:hover {
background-color: #00ADEE;
color: #fff;
}
.modal {
    max-width: 70vw;
    
  }
.sub{
    margin-left: 1%;
}

.comp{
   margin-left: 1%;
}

.para{
    margin-left: 1%;
}

.job{
    margin-top: 1%;
    margin-left: 5%;
}

.p2{
    margin-left: 30%;
}

.claimListHeaderContainer {
    display: grid;
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-areas: ". claimListHeader .";
  }
  .claimListHeader {
    grid-area: claimListHeader;
    display: grid;
    margin: 1rem 0;
    grid-template-columns: 25fr 20fr 25fr repeat(2, 15fr);
    /* grid-template-areas: "title date assignee services status actions"; */
  }

  .listContainer {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(8vh, 1fr));
    /* align-self: center; */
    /* background-color: blue; */
    /* or grid-auto-rows: 10vh; */
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-areas: ". listContent .";
  }
  .listContent {
    grid-area: listContent;
    /* background-color: aqua; */
    display: grid;
    /* margin: 2rem 0; */
    grid-template-columns: 85fr 15fr;
    grid-template-areas: "styleLink actions";
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: rgba(0, 0, 0, 0.03);
    font-size: 0.88rem;
  }
  .listContent:hover {
  background-color: #cac7c7 !important;
  
}
  .styleLink {
    grid-area: styleLink;
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: brown; */
    grid-template-areas: "claimList";
  }
  .actions {
    grid-area: actions;
    padding: 0 0.5rem;
}
  .claimList {
    grid-area: claimList;
    display: grid;
    /* background-color: blue; */
    grid-template-columns: 25fr 20fr 25fr 15fr;
    /* grid-template-areas: "name status "; */
  }
@media only screen and (max-width: 920px) {
    .jumbotron{
        /* width: 70% !important; */
        /* margin-left: 20%; */
        /* margin-right: 10%; */
        /* background-color: #e9f2eb; */
        width: 100% !important;
        overflow-x: hidden;
        /* margin-top: 5%; */
        /* text-align: left; */
    }
}
@media only screen and (max-width: 576px) {
    .jumbotron{
        width: 70% !important;
        margin-left: 20%;
        margin-right: 10%;
        /* background-color: #e9f2eb; */
        margin-top: 5%;
        text-align: left;
    }

    .head{
        /* margin-left: 20%;
        margin-top: 5%; */
    }
    
    .btn{
        margin-left: 20%;
        margin-top: 5%;
    }
}

@media only screen and (max-width: 400px) {
    .jumbotron{
        width: 70% !important;
        margin-left: 22%;
        margin-right: 10%;
        background-color: #e9f2eb;
        margin-top: 2%;
        text-align: left;
    }

    .p2{
        margin-left: 3%;
    }
}

.modal-content {
    background-color: transparent !important;
    border: none;
  }