.fluid-container{
    margin-left: 1%;
    margin-right: 1%;
}

.btn{
    text-align: center;
    margin-top: 2%;
}

.but{
    align-items: center;
}

.btn:hover {
    background-color: RoyalBlue;
  }

.jumbotron{
    margin: auto;
    padding: 5%;
}

.head{
    margin-top: 3%;
}

.btndel{
    margin-right: 60%;
}
