.toprow{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2px;
}

.fluid-container{
    margin-left: 1%;
    margin-right: 1%;
}

.btnCustom{
    text-align: center;
    margin-top: 2%;
}

.but{
    align-items: center;
}

.btn:hover {
    background-color: RoyalBlue;
  }

.jumbotron{
    margin: auto !important;
    padding: 2%;
}

.badges2{
    padding: 8px 15px;
    margin-left: 5px;
    font-size: 14px;
    background-color: #00ADEE;
}
.btndel{
    float: left;
    margin-left: 10%;

}

.lab{
    position: static;
}

.lwidth{
    width: 33%;
}

.li{
    margin-bottom: 1%;
    border: 1px solid lightgrey;
    box-shadow: 0px 2px lightgrey;
}

.fr{
    float: right;
    display: flex;
    transform: translateY(0.1rem);
}

.input{
    margin-left: 5px;
}

.button{
    margin-left: 5%;
}

.create{
margin-right: 5px;
}

.del{
    float: right;
    margin-right: 30%;
    display: flex;
}

.flex{
    display: flex;
    justify-content: start;
    align-items: center; 
}

.buttons{
    margin-right: 2%;
    margin-top: 2%;
}

.search{
    width: 10%;
}

.filter{
    margin-top: 10px;
    cursor: pointer;
}

@media only screen and (max-width:1250px){
    html{
        font-size: 80%;
    }
}

@media only screen and (max-width:576px){
    html{
        font-size: 75%;
    }

    .del{
        float: right;
        margin-right: 12%;
    }

    .head{
        font-size: 18px;
        margin-left: 5px;
    }

    .toprow{
        margin-top: 3%;     
    }

    .buttons{
        margin-right: 5%;
        margin-top: 5%;
    }
    
    .jumbotron{
        margin: auto !important;
        padding: 5%;
    }

    .li{
        margin-bottom: 2%;
    }
    .button {
        margin-left: 5%;
    }
}