.blanketHeader {
  display: grid;
  grid-template-columns:repeat(2,10fr) repeat(4,20fr);
  margin-top: 1rem;
  padding: 0 0.5rem;
}
.listContainer {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(8vh, 1fr));
  column-gap: 0.5rem;
  align-items: center;
  
}
.listContent {
  display: grid;
  margin: .5rem 0;
  grid-template-columns: 90fr 10fr;
  grid-template-areas: "listContentItem Button";
  border: none;
  background: rgba(0, 0, 0, 0.03);
  font-size: 0.88rem;
  font-family: var(--font-family-paragraph);
  align-items: center;
  padding: .5rem 0;
  border-radius: .3rem;
  transition: var(--transition-one);
}
.listContent:hover {
  
  background-color: #cac7c7 !important;
  text-decoration: none;
}
.listContentItems{
  display: grid;
  grid-area:listContentItem ;
  grid-template-columns:1fr 30fr repeat(4, 17fr) 1fr;
  grid-template-areas: ". name id quantity deposit time .";
  gap: .5rem;
}
.listContentItems:hover{
  color: black;
}
.customerName{
  grid-area: name;
}
.title{
  font-size: 1rem;
}
.text{
  font-weight: bold;
}
.customerJobId{
  grid-area: id;
}
.quantity{
  grid-area: quantity;
}
.cost{
  grid-area: deposit;
}
.time{
  grid-area: time;
}
.depositBtn {
  grid-area: Button;
}
.customerDepositBtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.2rem;
}
.depositBtn .button , .customerDepositBtn .button{
  text-transform: none;
  color: #000;
  font-family: var(--font-family-paragraph);
  width: 50%;
  font-weight: 600;
}
.customerDepositBtn .button:hover {
  background-color: var(--hover-color-blue);
}
.depositBtn .button:hover{
  color: #fff;
  background-color: var(--color-red);
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}