.blanketHeader {
  display: grid;
  grid-template-columns:repeat(2,10fr) repeat(4,20fr);
  margin-top: 1rem;
  padding: 0 0.5rem;
}
.listContainer {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(8vh, 1fr));
  /* align-self: center; */
  /* background-color: blue; */
  /* or grid-auto-rows: 10vh; */
  grid-template-columns: 100fr;
  grid-template-areas: " listContent";
}
.listContent {
  grid-area: listContent;
  /* background-color: aqua; */
  display: grid;
  /* margin: 2rem 0; */
  grid-template-columns:repeat(2,10fr) repeat(4,20fr);

  border: 1px solid rgba(0, 0, 0, 0.125);
  background: rgba(0, 0, 0, 0.03);
  font-size: 0.88rem;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0 0.5rem;
}
.depositBtn {
  display: grid;
  /* background-color: aqua; */
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.2rem;
}
.customerDepositBtn {
  display: grid;
  /* background-color: aqua; */
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.2rem;
}
.depositBtn .button , .customerDepositBtn .button{
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
}
.depositBtn .button:hover, .customerDepositBtn .button:hover {
  background-color: #00adee;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}