.scheduleContainer {
 
  display: grid;
  grid-template-rows: minmax(86.6vh,min-content);
  grid-template-columns: 20fr 80fr;
  grid-template-areas: "sidebar dragContent";
  /* background-color: aqua; */
}
.sidebar {
  grid-area: sidebar;
 
}
.dragContent {
  grid-area: dragContent !important;
  /* background-color: blue !important; */
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-areas: "dragDropContext";
}
.dragDropContext {
  grid-area: dragDropContext;
  display: grid;
  grid-template-columns: 75fr 25fr;
}
.styleLine {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}

.items {
  margin-left: 0.15%;
}

.head {
  margin-top: 2%;
  margin-left: 5%;
}

.light {
  margin-left: 1%;
}

.lists {
  /* margin-left: 1%; */
  margin-top: 5%;
}

.list {
  width: 90%;
  margin-left: 5%;
  margin-right: 3%;
  margin-bottom: 5%;
}
/* .scroll {
    padding-right: 20px; 
    margin-left: -12px;
    position: sticky;
    top: 0;
    height: min-content;
    overflow-y: scroll;
} */

body {
  overflow-x: hidden;
}
.scroll {
  /* background-color: burlywood; */
  position: fixed;
}
.scrollBar {
  /* overflow: scroll; */
  width: 100% !important;
  margin: 0 1rem;
  /* background-color: aqua; */
  overflow-x: hidden;
  height: 75vh;
}
.scrollBar .scrollContent {
  height: 100%;
  margin-right: 0.5rem;
}
.scrollBar::-webkit-scrollbar {
  width: 10px !important;
  /* background-color: red; */
}
/* Track */
.scrollBar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px !important;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
  border-radius: 10px !important;
  background: grey !important;
}

/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
  background: grey !important;
}

.para {
  text-align: left;
  /* margin-left: 1%; */
}

.badge {
  margin-left: 1%;
  background-color: #00adee !important;
}

.movehead {
  margin: 1rem;
  /* background-color: blue; */
}

.movname {
  /* position: relative;
    top: 20%; */
}

.mov {
  border-left: 1px solid rgb(223, 214, 214);

  /* position: fixed; */
}
