.accountContainer {
  display: grid;
  grid-template-columns: 5fr 30fr 60fr 5fr;
  grid-template-rows: 50vh 40vh;

  grid-template-areas:
    ". profile form  ."
    ". . . .";
  /* margin-top: 1rem; */
  column-gap: 2rem;
  background-color: #e9ecef;
}
.form {
  grid-area: form;
  border-radius: 0.4rem;
  background-color: #fff;
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem;
}
.header {
  margin-top: 1rem;
}

.profile {
  grid-area: profile;
  /* background-color: #00adee; */
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "content"
   
}
.content {
  border-radius: 0.4rem;
  background-color: #fff;

  grid-area: content;

  display: grid;
  grid-template-rows: 15% 30% repeat(2, 10%) 20% 10% 5%;
  grid-template-columns: 1fr;

  grid-template-areas:
    "."
    "profilePic"
    "accountHolderName"
    "accountHolderRole"
    "."
    "editButton"
    ".";
}
.profilePic {
  background-image: url("https://res.cloudinary.com/dz8zgvu8s/image/upload/v1570542639/user1.jpg");
  background-size: 100% 100%, cover;
  grid-area: profilePic;

  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.accountHolderName {
  grid-area: accountHolderName;
  /* background-color: aqua; */
}
.accountHolderRole {
  grid-area: accountHolderRole;
}
.editButton {
  grid-area: editButton;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  margin: 0 0.5rem;
}
.editButton .button {
  width: 100%;
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
}
.editButton .button:hover {
    background-color: #00adee;
}
.btn .button:hover {
    background-color: #00adee;
}
.btn .button {
  width: 100%;
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  /* flex-flow: column; */
}
.styleFormFields {
  margin: 0.5rem 0 !important;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.flexEnd .button {
    background: #00ADEE;
    text-transform: none;
    color: #FFF;
    font-family: sans-serif;
    width: 100%;
    margin: 0 0.2rem;
}
.flexEnd .button:hover {
    background-color: #00adee;
}
@media only screen and (max-width:1500px) {
  .accountContainer {
    display: grid;
    grid-template-columns: 5fr 30fr 60fr 5fr;
    grid-template-rows: 57vh 33vh;
  
    grid-template-areas:
      ". profile form  ."
      ". . . .";
    /* margin-top: 1rem; */
    column-gap: 2rem;
    background-color: #e9ecef;
  }
}