.head {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-header);


  /* background-color: rebeccapurple; */
}
.claimContainerPage {
  background-color: #e9ecef;
  display: grid;
  grid-template-rows: minmax(77vh,min-content) 13vh;
  grid-template-areas: "claimContainer"
                        ".";

}
.claimContainer {
  grid-area: claimContainer;
  /* background-color: #e9ecef; */
  display: grid;
  /* grid-template-rows: 80vh 10vh; */
  grid-template-columns: 20fr 60fr 20fr;
  grid-template-areas: ". form ."
                        ". . .";
  /* padding: 2rem 0; */
}
.form {
  grid-area: form;
  background-color: #fff;
  width: 100%;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 2rem;
}
.protectionType {
  display: grid;
  grid-template-columns: 66fr 34fr;
  column-gap: 0.5rem;
}
.modal {
  max-width: 70vw;
}
.claimHeader {
  display: grid;
  grid-template-columns: 50fr 20fr 30fr;
  font-weight: bold;
  font-family: var(--font-family-header) !important;

}
.claimContent {
  display: grid;
  grid-template-columns: 50fr 20fr 30fr;
  font-family: var(--font-family-paragraph);

}
.styleTextArea {
  width: 100% !important;
  border: 1px solid #b7b2b2;
  border-radius: 0.4rem;
}
.styleFormFields {
  margin: 0.5rem 0 !important;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}
.buttons .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);

}
.buttons .button:hover {
  background: #00adee;
}
.modalBtn .modalButton {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);

}
.modalBtn .modalButton:hover {
  background-color: #00adee;
}
/* @media only screen and (max-width:1500px) {
  .claimContainer {
    background-color: #e9ecef;
    display: grid;
    grid-template-rows: 80vh 10vh;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-areas: ". form ."
                          ". . .";
    padding: 2rem 0;
  }
} */
