.scheduleContainer {
  display: grid;
  grid-template-rows: minmax(90vh, min-content);
  grid-template-columns: 12fr 88fr;
  grid-template-areas: "sidebar dragContent";
  column-gap: 0.75rem;
  /* background-color: aqua; */
}
.sidebar {
  grid-area: sidebar;
}
.dragContent {
  grid-area: dragContent;
  display: grid;
  grid-template-columns: 75fr 25fr;
  grid-template-areas: "jobContent movers";
  column-gap: 0.75rem;
}
.jobContent {
  grid-area: jobContent;
}
.movers {
  grid-area: movers;
}
.styleDatePicker {
  width: 68vw !important;
  height: 12vh;
}
.styleLine {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}
.moverAssigneeInfo {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* height: 6vh; */
  /* background-color: red; */
  align-items: center;
  /* padding: 0 0.5rem; */
  /* background-color: rosybrown; */
}
.moverAssigneeInfo .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
}
.moverAssigneeInfo .button:hover {
  background-color: #0597cc;
}
.cardHeader {
  display: grid;
  /* grid-template-rows: 30fr 70fr;
  grid-template-areas: "heading content"; */
  grid-template-columns: 30fr repeat(2, 15fr) 30fr 10fr;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
  border-radius: .3rem;
background-color: #e9ecef;
}
.heading{
  grid-area: heading;
text-transform: capitalize;
}
.content{
font-weight: bold;
text-transform: capitalize;
}
.contentMail{
  font-weight: bold;
  text-transform: lowercase;
  }
.dangerClass {
  background-color: #e94b3cff !important;
  color: white;
}
.deleteButton{
  background-color: #2d2926ff !important;;
  color: white !important;
  font-weight: bold;
  text-transform: capitalize;
}
.deleteButton:hover{
  background-color: rgb(37, 37, 37) !important;
}
.hideJobId,
.hideAssigneeId {
  display: none;
}
.assignee {
  display: grid;
  grid-template-columns: 85fr 15fr;
  grid-template-areas: "assigneeName closeIcon";
}
.assigneeName {
  grid-area: assigneeName;
}
.closeIcon {
  grid-area: closeIcon;
  /* color: #a8a8a8; */
}
.styleText {
  font-weight: normal;
}
.styleModalBody {
  display: grid;
  grid-template-columns: 90fr 10fr;
}
.styleModalBody .styleLink {
  text-decoration: none;
  cursor: pointer;
}
.modalBtns .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  margin: 0 0.2rem;
}
.modalBtns .button:hover {
  background-color: var(--hover-color-blue);
}
 .jobDetailList {
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr 40fr 13fr 15fr 20fr 1fr;
  grid-template-areas: ". title id type status .";
  column-gap: .5rem;
  background: #e9ecef;
  font-size: 1rem;
  border-radius: .3rem;
  padding: .5rem 0;
  transition: var(--transition-one);
}
.jobDetailList:hover{
  background-color: #cac7c7;
  text-decoration: none;
}
.jobTitle{
  grid-area: title;
}
.jobsId{
  grid-area: id;
}
.jobTypee{
  grid-area: type;
}
.jobStatus{
  grid-area: status;
}
.customerDetailHeader table , .customerDetailList table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: repeat(3, 1fr);
}


.jobDetailList {
  font-size: 1rem;
}

.jobDescriptionHeader {
  margin: 0.5rem 0;
}
.jobDescription {
  font-size: 1rem;
  color: black;
  background:#e9ecef;
  display: grid;
  word-break: break-all;
  grid-template-columns: 1fr 98fr 1fr;
  grid-template-areas: ". description .";
  border-radius: .3rem;
}
.jobDescriptionText{
  grid-area: description;
  margin-top: 1rem;
}

.customerDetailHeader {
  font-size: 1rem;
  font-weight: bold;
}
.customerDetailList{
  padding: .5rem 0;
  display: grid;
  grid-template-columns: 1fr 98fr 1fr;
grid-template-areas: ". listContent .";
background:rgba(0, 0, 0, 0.03);
border-radius: .3rem;
}
.customerDetailListContent {
  font-size: 1rem;
  display: grid;
  grid-area: listContent;
  grid-template-columns: repeat(3, 1fr);
}
.moverHeader {
  cursor: pointer;
  font-weight: 100;
}

.scroll {
  position: fixed;
  width: 90%;
}
.scrollBar {
  width: 100% !important;
  margin: 0 0.4rem;
  overflow-x: hidden;
  height: 75vh;
  padding-top: 10px;
}
.scrollBar .scrollContent {
  height: 100%;
}
.scrollBar::-webkit-scrollbar {
  width: 8px !important;
}
/* Track */
.scrollBar::-webkit-scrollbar-track {
  border-radius: 8px !important;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
  background: grey !important;
}

/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
  background: grey !important;
}

.movehead {
  margin: 1rem 0;
}

.mov {
  padding-left: 4px;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 1450px) {
  .scrollBar {
    width: 100% !important;
    /* margin: 0rem; */
    /* background-color: #00adee; */

    overflow-x: hidden;
    height: 75vh;
  }
}
@media only screen and (max-width: 1300px) {
  .scrollBar {
    width: 100% !important;
    margin: 0rem;
    /* background-color: #00adee; */

    overflow-x: hidden;
    height: 75vh;
  }
}