.scheduleContainer {
  display: grid;
  grid-template-rows: minmax(90vh, min-content);
  grid-template-columns: 12fr 88fr;
  grid-template-areas: "sidebar dragContent";
  column-gap: 0.75rem;
  /* background-color: aqua; */
}
.sidebar {
  grid-area: sidebar;
}
.dragContent {
  grid-area: dragContent;
  display: grid;
  grid-template-columns: 75fr 25fr;
  grid-template-areas: "jobContent movers";
  column-gap: 0.75rem;
}
.jobContent {
  grid-area: jobContent;
  /* background-color: aqua; */
}
.movers {
  grid-area: movers;
}
.styleDatePicker {
  width: 68vw !important;
  height: 12vh;
}
.styleLine {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}
.moverAssigneeInfo {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 6vh;
  align-items: center;
  /* padding: 0 0.5rem; */
  /* background-color: rosybrown; */
}
.moverAssigneeInfo .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
}
.moverAssigneeInfo .button:hover {
  background-color: #0597cc;
}
/* .jobListHeader {
  display: grid;
  grid-template-columns: 30fr repeat(2, 10fr) 30fr 10fr;
  font-weight: bold;
  padding: 0 0.5rem;
  height: 6vh;
  column-gap: 0.5rem;
  align-items: center;
} */

.cardHeader {
  display: grid;
  /* grid-template-rows: 30fr 70fr;
  grid-template-areas: "heading content"; */
  grid-template-columns: 30fr repeat(2, 10fr) 30fr 10fr;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
}
.heading{
  grid-area: heading;
text-transform: capitalize;
}
.content{
font-weight: bold;
text-transform: capitalize;
}
.dangerClass {
  background-color: #e94b3cff !important;
  color: white;
}
.deleteButton{
  background-color: #000 !important;
  color: white !important;
  font-weight: bold;
  text-transform: capitalize;
}

.deleteButton:hover{
  background-color: rgb(37, 37, 37) !important;
}
/* .flex{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
} */

.hideJobId,
.hideAssigneeId {
  display: none;
}
.assignee {
  display: grid;
  grid-template-columns: 85fr 15fr;
  grid-template-areas: "assigneeName closeIcon";
}
.assigneeName {
  grid-area: assigneeName;
}
.closeIcon {
  grid-area: closeIcon;
  /* color: #a8a8a8; */
}
.styleText {
  font-weight: normal;
}
.styleModalBody {
  display: grid;
  grid-template-columns: 90fr 10fr;
}
.styleModalBody .styleLink {
  text-decoration: none;
  cursor: pointer;
}
.modalBtns .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  margin: 0 0.2rem;
}
.modalBtns .button:hover {
  background-color: #00adee;
}

.jobDetailHeader {
  font-size: 0.9rem;
  font-weight: bold;
}

.jobDetailHeader table, .jobDetailList table {
  /* width: 100% !important; */
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.customerDetailHeader table , .customerDetailList table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: repeat(3, 1fr);
}
thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #808080;
}

th {
  position: sticky;
  top: 0;
  background: #181f47;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;

  color: #808080;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}

.jobDetailList {
  font-size: 0.9rem;
}

.jobDescriptionHeader {
  margin: 0.5rem 0;
}
.jobDescription {
  font-size: 0.9rem;
  color: #aaaaaa;
}
.customerDetailHeader {
  font-size: 0.9rem;
  font-weight: bold;
}
.customerDetailList {
  font-size: 0.9rem;
}
.moverHeader {
  cursor: pointer;
  font-weight: 100;
}

.scroll {
  position: fixed;
}
.scrollBar {
  width: 100% !important;
  margin: 0 0.4rem;
  /* background-color: #00adee; */

  overflow-x: hidden;
  height: 75vh;
  padding-top: 10px;
}
.scrollBar .scrollContent {
  height: 100%;
}
.scrollBar::-webkit-scrollbar {
  width: 8px !important;
}
/* Track */
.scrollBar::-webkit-scrollbar-track {
  border-radius: 8px !important;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
  background: grey !important;
}

/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
  background: grey !important;
}

.movehead {
  margin: 1rem 0;
}

.mov {
  padding-left: 4px;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 1450px) {
  .scrollBar {
    width: 100% !important;
    /* margin: 0rem; */
    /* background-color: #00adee; */

    overflow-x: hidden;
    height: 75vh;
  }
}
@media only screen and (max-width: 1300px) {
  .scrollBar {
    width: 100% !important;
    margin: 0rem;
    /* background-color: #00adee; */

    overflow-x: hidden;
    height: 75vh;
  }
}


