@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.app-without-nav {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: minmax(min-content, 100vh);
  grid-template-columns: 1fr;
  grid-template-areas: "app-content-without-nav";
}

.app-content-without-nav {
  grid-area: app-content-without-nav;
}

.app {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: 10vh minmax(90vh, min-content);
  grid-template-areas: "navigation-menu" "app-content-container";
}

.navigation-menu {
  grid-area: navigation-menu;
}

.app-content-container {
  grid-area: app-content-container;
}

.btn:hover {
  background-color: #00adee !important;
  text-decoration: none;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #00adee;
}

/* .btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #00adee !important;
} */

.page-item.active .page-link {
  background-color: #00adee !important;
}
/* for border of holiday calender */
.DayPicker-Day {
  border: 1px solid;
}
/* styling calender event */
.rbc-event {
  border: none !important;
  box-sizing: border-box !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0  !important;
  background-color: #00adee !important;
  border-radius: 5px !important;
  color: #fff !important;
  cursor: pointer !important;
  width: 100% !important;
  text-align: left !important;
}
/* styling all radio buttons */
.MuiFormControlLabel-root {
  cursor: pointer !important;
  display: inline-flex !important;
  align-items: center !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  vertical-align: middle !important;
  -webkit-tap-highlight-color: transparent !important;
}
