
.items{
    margin-left: 0.15%;
    
}

/* .color{
    background-color: #00ADEE !important;
    margin-left: 1%;
} */

.head{
    margin-top: 2%;
    margin-left: 5%;
}

.light{
    margin-left: 1%;
}

.lists{
    /* margin-left: 1%; */
    margin-top: 5%;
}

.list{
    width: 90%;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: 5%;
}
/* .scroll {
    padding-right: 20px; 
    margin-left: -12px;
    position: sticky;
    top: 0;
    height: min-content;
    overflow-y: scroll;
} */

body {
    overflow-x: hidden;
}
.scroll {
    /* background-color: brown; */
}
.scroll::-webkit-scrollbar {
    width: 10px !important;
    
  }
  
  /* Track */
  .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important; 
    border-radius: 10px !important;
  }
   
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background: #00ADEE !important;
    border-radius: 10px !important;
  }
  
  /* Handle on hover */
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #00ADEE !important; 
  }

.para{
    text-align: left;
    /* margin-left: 1%; */
}

.badge{
    margin-left: 1%;
    background-color: #00ADEE !important;

}

.movehead{
    margin-top: 5%;
}

.movname{
    margin-top: 10%;
}

.mov{
    border-left: 1px solid rgb(223, 214, 214);
   
}

@media only screen and (max-width: 576px) {
    .items{
        margin-left: 4%;
        margin-top: 2%;
        
    }
}

@media only screen and (max-width: 420px) {

    .items{
        margin-left: 4%;
        margin-top: 2%;
        
    }
    .lists{
        margin-left: 5%;
        margin-top: 5%;
    }

    .head{
        margin-top: 5%;
        margin-left: 10%;
    }

    .list{
        width: 95%;
        margin-top: 10%;
        margin-left: 8%;
        margin-bottom: 5%;
    }
    
    
}