.verificationContainer {
  display: grid;
  grid-template-rows: minmax(min-content, 90vh);
  grid-template-areas: "verificationContainerContent";
}
.verificationContainerContent {
  grid-area: verificationContainerContent;
}
.emailField {
  margin: 0.5rem 0 !important;
  width: 30vw;
}
.sendCodeBtn .button {
  background: #00adee;
  text-transform: none;
  color: #fff;
  font-family: var(--font-family-paragraph);
  width: 30vw;
}
.sendCodeBtn .button:hover {
  background-color: #00adee;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
