.accountContainer {
    display: grid;
    grid-template-columns: 10fr 30fr 50fr 10fr;
    grid-template-rows: 76.6vh 10vh;

    grid-template-areas: ". profile form  ."
                               ". . . .";
    /* margin-top: 1rem; */
    column-gap: 2rem;
    background-color: #e9ecef;
}
.form {
    grid-area: form;
    border-radius: 0.4rem;
    background-color: #fff;
    margin-top: 2rem;
 
}

.profile {
    grid-area: profile;
    margin-top: 2rem;
   display: grid;
   grid-template-rows:  50vh 36.6vh;
   grid-template-columns: 1fr;
   grid-template-areas: "content"
                        ".";
  
 
}
.content {
   
   
    border-radius: 0.4rem;
     background-color: #fff;
   
    grid-area: content;

    display: grid;
    grid-template-rows: 15fr 25fr repeat(2, 5fr)  38fr 10fr 2fr;
   
    grid-template-areas: "." 
                        "profilePic" 
                        "accountHolderName"
                        "accountHolderRole"
                        "."
                        "editButton"
                        ".";
                        
   
}
.profilePic {
    background-image: url("https://res.cloudinary.com/dz8zgvu8s/image/upload/v1570542639/user1.jpg");
    background-size: 100% 100%, cover;
    grid-area: profilePic;
    
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.accountHolderName {
    grid-area: accountHolderName;
    /* background-color: aqua; */
}
.accountHolderRole {
    grid-area: accountHolderRole;
}
.editButton {
    grid-area: editButton;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    margin: 0 0.5rem;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    /* flex-flow: column; */
}